$MQNarrow: 959px !default;
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;

$containerWith: 1024px !default;

$codeLang: 'c' 'cpp' 'cs' 'dart' 'docker' 'fs' 'go' 'java' 'kt' 'makefile'
  'css' 'less' 'sass' 'scss' 'styl' 'html' 'js' 'json' 'ts' 'vue' 'jsx'
  'md' 'php' 'py' 'rb' 'rs' 'sh' 'toml' 'yml' !default;
