.theme-plume-toc {
  border-left: solid 1px var(--vp-c-divider);

  &::-webkit-scrollbar {
    width: 0;
    opacity: 0;
  }
  > .theme-plume-toc-list {
    padding-left: 0;
  }
}

.theme-plume-toc-list {
  list-style: none;
  font-size: 13px;
  font-weight: 500;

  .theme-plume-toc-link {
    width: 100%;
    display: inline-block;
    color: var(--vp-c-text-2);
    border-left: solid 3px transparent;
    padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
    transition: color 0.25s, border-color 0.25s;

    &.active {
      color: var(--vp-c-text-1);
      border-color: var((--c-text-accent));
    }
  }

  .theme-plume-toc-list {
    .theme-plume-toc-link {
      border: none;
      font-size: 14px;
      color: var(--c-text-lighter);

      &.active {
        color: var(--c-text-accent);
      }
    }
  }
}

.plume-theme-page-toc {
  width: 12.5rem;
  margin-left: 1.25rem;

  .theme-plume-toc {
    position: sticky;
    top: calc(var(--navbar-height) + 1.25rem);
  }
}

.archive-toc {
  width: 4rem;
  margin-left: 0;
  position: sticky;
  top: calc(var(--navbar-height) + 1.25rem);
}
