.plume-theme-page-toc {
  width: 200px;
  margin-left: 1.25rem;

  .vuepress-toc {
    position: sticky;
    top: calc(var(--navbar-height) + 1.25rem);
    border-left: solid 1px var(--c-border);
    max-height: calc(100vh - var(--navbar-height) - (1.25rem * 3));
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0;
      opacity: 0;
    }
    > .vuepress-toc-list {
      padding-left: 0;
    }
  }


  .vuepress-toc-list {
    list-style: none;

    .vuepress-toc-link {
      width: 100%;
      display: inline-block;
      color: var(--c-text-light);
      border-left: solid 3px transparent;
      padding-left: 1rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition: color var(--t-color), border-color var(--t-color);

      &.active {
        color: var(--c-text-accent);
        border-color: var((--c-text-accent));
      }
    }

    .vuepress-toc-list {
      .vuepress-toc-link {
        border: none;
        font-size: 14px;
        color: var(--c-text-lighter);

        &.active {
          color: var(--c-text-accent);
        }
      }
    }
  }
}
