
@custom-media --min-viewprot (min-width: 719px);

@media (--min-viewprot) {
  ::-webkit-scrollbar{
    width:6px;
    height:5px;
  }
  ::-webkit-scrollbar-track-piece{
    background-color:rgba(0,0,0,.15);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:vertical{
    height:5px;
    background-color:rgba(0,0,0,.28);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:horizontal{
    width:5px;
    background-color:rgba(0,0,0,.28);
    border-radius: 3px;
  }
}

