// ===============================
// Forked and modified from prismjs/themes/prism-tomorrow.css

.dark .vp-code span {
  color: var(--shiki-dark, rgba(235, 235, 245, 0.6));
}

html:not(.dark) .vp-code span {
  color: var(--shiki-light, rgba(60, 60, 67, 0.78));
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--vp-code-block-color);
  background: none;
  font-family: var(--vp-font-family-mono);
  font-size: var(--vp-code-font-size);
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: var(--vp-code-line-height);

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

// :not(pre) > code[class*='language-'],
// pre[class*='language-'] {
//   background: var(--vp-code-block-bg);
// }

// /* Inline code */
// :not(pre) > code[class*='language-'] {
//   padding: 0.1em;
//   border-radius: 0.3em;
//   white-space: normal;
// }

// ===============================

.plume-content {
  pre,
  pre[class*='language-'] {
    // line-height: 1.4;
    padding: 1.3rem 1.5rem;
    margin: 0 0 0.85rem 0;
    border-radius: 6px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--c-brand) var(--c-border);
    font-size: 14px;

    code {
      color: #fff;
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      overflow-wrap: unset;
      -webkit-font-smoothing: auto;
      -moz-osx-font-smoothing: auto;
    }
  }

  .line-number {
    font-family: var(--vp-font-family-mono);
  }

  .code-tabs {
    .div[class*='language-'] {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.code-tabs-nav {
  margin-bottom: 0rem;
}

div[class*='language-'] {
  position: relative;
  background-color: var(--vp-code-block-bg);
  border-radius: 6px;

  &::before {
    content: attr(data-ext);
    position: absolute;
    z-index: 3;
    top: 0.8em;
    right: 1em;
    font-size: 0.75rem;
    color: var(--vp-code-line-number-color);
  }

  pre,
  pre[class*='language-'] {
    // force override the background color to be compatible with shiki
    background: transparent !important;
    position: relative;
    z-index: 1;
  }

  .highlight-lines {
    user-select: none;
    padding-top: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 1.5;

    .highlight-line {
      background-color: var(--vp-c-default-soft);
    }
  }

  &:not(.line-numbers-mode) {
    .line-numbers {
      display: none;
    }
  }

  &.line-numbers-mode {
    .highlight-lines .highlight-line {
      position: relative;

      &::before {
        content: ' ';
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        display: block;
        // width: var(--code-ln-wrapper-width);
        height: 100%;
      }
    }

    pre {
      margin-left: 2rem;
      padding-left: 1rem;
      vertical-align: middle;
    }

    .line-numbers {
      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      height: 100%;
      text-align: center;
      z-index: 1;
      color: var(--vp-code-line-number-color);
      padding-top: 1.14rem;
      line-height: var(--vp-code-line-height);
      counter-reset: line-number;
      border-right: var(--vp-code-block-divider-color) 1px solid;

      .line-number {
        position: relative;
        z-index: 3;
        user-select: none;
        height: 1.5rem;

        &::before {
          counter-increment: line-number;
          content: counter(line-number);
          font-size: 0.85em;
        }
      }
    }
  }
}

.plume-content [class*='language-'] code .highlighted {
  background-color: var(--vp-code-line-highlight-color);
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}

.plume-content [class*='language-'] code .highlighted.error {
  background-color: var(--vp-code-line-error-color);
}

.plume-content [class*='language-'] code .highlighted.warning {
  background-color: var(--vp-code-line-warning-color);
}

.plume-content [class*='language-'] code .diff {
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}

.plume-content [class*='language-'] code .diff::before {
  position: absolute;
  left: 10px;
}

.plume-content [class*='language-'] .has-focused-lines .line:not(.has-focus) {
  filter: blur(0.095rem);
  opacity: 0.4;
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.plume-content [class*='language-'] .has-focused-lines .line:not(.has-focus) {
  opacity: 0.7;
  transition:
    filter 0.35s,
    opacity 0.35s;
}

.plume-content
  [class*='language-']:hover
  .has-focused-lines
  .line:not(.has-focus) {
  filter: blur(0);
  opacity: 1;
}

.plume-content [class*='language-'] code .diff.remove {
  background-color: var(--vp-code-line-diff-remove-color);
  opacity: 0.7;
}

.plume-content [class*='language-'] code .diff.remove::before {
  content: '-';
  color: var(--vp-code-line-diff-remove-symbol-color);
  transform: translateX(-6px);
}

.plume-content [class*='language-'] code .diff.add {
  background-color: var(--vp-code-line-diff-add-color);
}

.plume-content [class*='language-'] code .diff.add::before {
  content: '+';
  color: var(--vp-code-line-diff-add-symbol-color);
  transform: translateX(-6px);
}

// narrow mobile
@media (max-width: 419px) {
  .plume-content {
    div[class*='language-'] {
      margin: 0.85rem -1.5rem;
      border-radius: 0;
    }

    .hint-container div[class*='language-'] {
      margin: 0.85rem -1rem 0.85rem -1.25rem;
    }
  }

  .plume-content .vp-code-tabs-nav {
    margin: 0 -1.5rem -0.85rem;
  }
}

.hint-container.info pre code {
  background-color: transparent;
}
