[data-theme="dark"] .vp-code span {
  color: var(--shiki-dark, rgb(235 235 245 / 0.6));
}

html:not([data-theme="dark"]) .vp-code span {
  color: var(--shiki-light, rgb(60 60 67 / 0.78));
}

.vp-doc div[class*="language-"],
.vp-block {
  position: relative;
  margin: 16px -24px;
  overflow-x: auto;
  background-color: var(--vp-code-block-bg);
  transition: background-color var(--vp-t-color);

  scrollbar-width: thin;
}

@media (min-width: 640px) {
  .vp-doc div[class*="language-"],
  .vp-block {
    margin: 16px 0;
    border-radius: 8px;
  }
}

@media (max-width: 639px) {
  .vp-doc li div[class*="language-"] {
    border-radius: 8px 0 0 8px;
  }
}

.vp-doc div[class*="language-"] + div[class*="language-"] {
  margin-top: -8px;
}

.vp-doc div[class*="language-"]::before {
  position: absolute;
  top: 5px;
  right: 1em;
  z-index: 3;
  font-size: 0.75rem;
  color: var(--vp-code-line-number-color);
  content: attr(data-ext);
  transition: color var(--vp-t-color);
}

.vp-doc div[class*="language-"] code {
  display: block;
  width: fit-content;
  min-width: 100%;
  padding: 0 24px;
  font-size: var(--vp-code-font-size);
  line-height: var(--vp-code-line-height);
  color: var(--vp-code-block-color);
  transition: background-color var(--vp-t-color), color var(--vp-t-color);

  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.vp-doc div[class*="language-"] pre {
  position: relative;
  z-index: 1;
  padding: 20px 0;
  margin: 0;
  overflow-x: auto;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: transparent;
}

@media (min-width: 640px) {
  .vp-doc div[class*="language-"] pre {
    border-radius: 6px;
  }
}

.vp-doc div[class*="language-"] pre,
.vp-doc div[class*="language-"] code {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  /* rtl:ignore */
  text-align: left;
  word-break: normal;
  overflow-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  white-space: pre;
  word-spacing: normal;

  /* rtl:ignore */
  direction: ltr;
}

.vp-doc div[class*="language-"]:not(.line-numbers-mode) .line-numbers {
  display: none;
}

.vp-doc div[class*="language-"].line-numbers-mode::after {
  display: none;
}

.vp-doc div[class*="language-"].line-numbers-mode {
  /* rtl:ignore */
  padding-left: 32px;
}

.vp-doc div[class*="language-"].line-numbers-mode .line-numbers {
  position: absolute;
  top: 0;

  /* rtl:ignore */
  left: 0;
  z-index: 3;
  width: 32px;
  height: fit-content;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: var(--vp-font-family-mono);
  font-size: var(--vp-code-font-size);
  line-height: var(--vp-code-line-height);
  color: var(--vp-code-line-number-color);
  text-align: center;

  /* rtl:ignore */
  border-right: 1px solid var(--vp-code-block-divider-color);
  transition: border-right var(--vp-t-color), color var(--vp-t-color);
}

.vp-doc div[class*="language-"].line-numbers-mode .line-numbers .line-number {
  position: relative;
  z-index: 3;
  font-family: var(--vp-font-family-mono);
  user-select: none;
}

.vp-doc div[class*="language-"].line-numbers-mode .line-numbers .line-number::before {
  content: counter(line-number);
  counter-increment: line-number;
}

@media print {
  .vp-doc div[class*="language-"].line-numbers-mode {
    padding-left: 0;
  }

  .vp-doc div[class*="language-"].line-numbers-mode .line-numbers {
    display: none;
  }
}

@media (max-width: 639px) {
  .vp-doc li div[class*="language-"] {
    border-radius: 8px 0 0 8px;
  }
}

.vp-doc div[class*="language-"] code .highlighted {
  z-index: 2;
  display: inline-block;
  width: calc(100% + 48px);
  padding: 0 24px;
  margin: 0 -24px;
  background-color: var(--vp-code-line-highlight-color);
  transition: background-color var(--vp-t-color);
}

.vp-doc div[class*="language-"] code .highlighted.error {
  background-color: var(--vp-code-line-error-color);
}

.vp-doc div[class*="language-"] code .highlighted.warning {
  background-color: var(--vp-code-line-warning-color);
}

.vp-doc div[class*="language-"] code .highlighted-word {
  padding: 1px 2px;
  margin: -1px -2px;
  background-color: var(--vp-c-gray-soft);
  border: 1px solid var(--vp-c-border);
  border-radius: 4px;
}

.vp-doc div[class*="language-"] code .highlighted-word:has(+ .highlighted-word) {
  padding-right: 0;
  margin-right: 0;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.vp-doc div[class*="language-"] code .highlighted-word + .highlighted-word {
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.vp-doc div[class*="language-"] code .tab,
.vp-doc div[class*="language-"] code .space {
  position: relative;
}

.vp-doc div[class*="language-"] code .tab::before {
  position: absolute;
  content: "⇥";
  opacity: 0.3;
}

.vp-doc div[class*="language-"] code .space::before {
  position: absolute;
  content: "·";
  opacity: 0.3;
}

.vp-doc div[class*="language-"] code .diff {
  display: inline-block;
  width: calc(100% + 48px);
  padding: 0 24px;
  margin: 0 -24px;
  transition: background-color var(--vp-t-color);
}

.vp-doc div[class*="language-"] code .diff::before {
  position: absolute;
  left: 10px;
}

.vp-doc div[class*="language-"] code .diff.remove {
  background-color: var(--vp-code-line-diff-remove-color);
  opacity: 0.7;
}

.vp-doc div[class*="language-"] code .diff.remove::before {
  color: var(--vp-code-line-diff-remove-symbol-color);
  content: "-";
}

.vp-doc div[class*="language-"] code .diff.add {
  background-color: var(--vp-code-line-diff-add-color);
}

.vp-doc div[class*="language-"] code .diff.add::before {
  color: var(--vp-code-line-diff-add-symbol-color);
  content: "+";
}

/*
  Copy Code Button
  --------------------------------------------------------------------------
 */
.vp-copy-code-button {
  --copy-code-c-text: var(--vp-code-block-color);

  top: 1em;
  line-height: initial;
  transition: opacity var(--vp-t-color), background-color var(--vp-t-color);
}

.vp-copy-code-button.copied::after {
  height: 2.5rem;
}

/*
  Collapsed lines
  --------------------------------------------------------------------------
 */

.vp-doc div[class*="language-"].has-collapsed-lines .collapsed-lines,
[data-theme="dark"] .vp-doc div[class*="language-"].has-collapsed-lines .collapsed-lines {
  --vp-collapsed-lines-bg: var(--vp-code-block-bg);

  height: 44px;
  background: linear-gradient(to bottom, transparent 0%, var(--vp-collapsed-lines-bg) 50%, var(--vp-collapsed-lines-bg) 100%);
}

.vp-doc div[class*="language-"].has-collapsed-lines .collapsed-lines:hover,
[data-theme="dark"] .vp-doc div[class*="language-"].has-collapsed-lines .collapsed-lines:hover {
  --vp-collapsed-lines-bg: var(--vp-c-default-soft);
}

.vp-doc div[class*="language-"].has-collapsed-lines.collapsed {
  height: calc(var(--vp-collapsed-lines) * var(--vp-code-line-height) * var(--vp-code-font-size) + 62px);
}

.vp-doc div[class*="language-"].has-collapsed-lines:not(.collapsed) code {
  padding-bottom: 20px;
}

.vp-doc div[class*="language-"].has-collapsed-lines:not(.collapsed) .collapsed-lines:hover {
  --vp-collapsed-lines-bg: transparent;
}

/*
  Code Block Title
  ---------------------------------------------------------------
 */
:root {
  --code-title-c-bg: var(--vp-code-block-bg);
  --code-title-divider: var(--vp-c-divider);
  --code-title-c-text: var(--vp-c-text-1);
}

/* stylelint-disable-next-line no-descending-specificity */
.vp-doc .code-block-title div[class*="language-"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.code-block-title .code-block-title-bar {
  position: relative;
  margin-bottom: -16px;
  border-bottom: none;
}

.code-block-title .code-block-title-bar::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: var(--code-title-divider);
}

.code-block-title .code-block-title-bar .title {
  position: relative;
  padding: 11px 12px;
}

.code-block-title .code-block-title-bar .title::before {
  position: absolute;
  right: 8px;
  bottom: 0;
  left: 8px;
  display: inline-block;
  height: 2px;
  content: "";
  background-color: var(--vp-c-brand-2);
  border-radius: 2px;
}

.code-block-title .code-block-title-bar .title .vp-icon {
  width: 18px;
  height: 18px;
  margin-left: 0;
}

@media (max-width: 419px) {
  .code-block-title-bar {
    margin-inline: -24px;
  }
}
