/* ------------------ Plugin Nprogress  ------------------ */
#nprogress .bar {
  background: var(--vp-c-brand-1);
}

#nprogress .spinner-icon {
  border-top-color: var(--vp-c-brand-1);
  border-left-color: var(--vp-c-brand-1);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--vp-c-brand-1), 0 0 5px var(--vp-c-brand-1);
}

/* ------------------ Plugin Comment  ------------------ */
.vp-comment {
  margin-top: 80px;
}
