/* ------------------ Plugin Nprogress  ------------------ */
#nprogress .bar {
  background: var(--vp-c-brand-1);
}

#nprogress .spinner-icon {
  border-top-color: var(--vp-c-brand-1);
  border-left-color: var(--vp-c-brand-1);
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--vp-c-brand-1), 0 0 5px var(--vp-c-brand-1);
}

/* ------------------ Plugin Comment  ------------------ */
.vp-comment {
  margin-top: 80px;
}

/* ------------------ Mermaid  ------------------ */

.mermaid-preview {
  background-color: rgba(0, 0, 0, 0.45);
}

.mermaid-preview > svg {
  background-color: var(--vp-c-bg);
}

@media (min-width: 960px) {
  .mermaid-preview > svg {
    padding: 16px 24px;
    margin: 0 16px;
    border-radius: 8px;
    box-shadow: var(--vp-shadow-2);
  }
}
