/**
 * Headings
 * -------------------------------------------------------------------------- */

.plume-content h1,
.plume-content h2,
.plume-content h3,
.plume-content h4,
.plume-content h5,
.plume-content h6 {
  position: relative;
  font-weight: 600;
  color: var(--vp-c-text-1);
  overflow-wrap: break-word;
  outline: none;
  transition: color var(--t-color);
}

.plume-content h1 {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.plume-content h2 {
  padding-top: 24px;
  margin: 48px 0 16px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  border-top: 1px solid var(--vp-c-divider);
  transition: border-top var(--t-color);
}

.plume-content h2:first-of-type {
  border-top: none;
}

.plume-content h3 {
  margin: 32px 0 0;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
}

.plume-content .header-anchor {
  position: relative;
  color: inherit;
  text-decoration: none;

  &:hover::before {
    position: absolute;
    left: -0.75em;
    font-size: 0.8em;
    color: var(--vp-c-brand-1);
    content: var(--vp-header-anchor-symbol);
    transition: color var(--t-color);
  }

  &:focus-visible {
    outline: none;

    &::before {
      position: absolute;
      left: -0.75em;
      color: var(--vp-c-brand-1);
      content: var(--vp-header-anchor-symbol);
      outline: auto;
    }
  }
}

@media (min-width: 768px) {
  .plume-content h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
  }
}

.plume-content img {
  display: inline-block;
}

.plume-content img + img {
  margin-left: 0.5rem;
}

.plume-content a img + span {
  margin-left: 0.2rem;
}

/**
 * Paragraph and inline elements
 * -------------------------------------------------------------------------- */

.plume-content p,
.plume-content summary {
  margin: 16px 0;
  color: var(--vp-c-text-1);
  transition: color var(--t-color);
}

.plume-content p {
  line-height: 28px;
}

.plume-content blockquote {
  padding-left: 16px;
  margin: 16px 0;
  border-left: 2px solid var(--vp-c-divider);
  transition: border-color var(--t-color);
}

.plume-content blockquote > p {
  margin: 0;
  font-size: 16px;
  color: var(--vp-c-text-2);
  transition: color var(--t-color);
}

.plume-content a {
  font-weight: 500;
  color: var(--vp-c-brand-1);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition:
    color var(--t-color),
    opacity var(--t-color),
    text-underline-offset var(--t-color);

  @media print {
    &[href^="http://"],
    &[href^="https://"] {
      &::after {
        content: " (" attr(href) ") ";
      }
    }
  }
}

.plume-content :not(h1,h2,h3,h4,h5,h6) a:hover {
  color: var(--vp-c-brand-2);
  text-underline-offset: 5px;
}

.plume-content strong {
  font-weight: 600;
}

/**
 * Lists
 * -------------------------------------------------------------------------- */

.plume-content ul,
.plume-content ol {
  padding-left: 1.25rem;
  margin: 16px 0;
}

.plume-content ul {
  list-style: disc;
}

.plume-content ol {
  list-style: decimal;
}

.plume-content li + li {
  margin-top: 8px;
}

.plume-content li > ol,
.plume-content li > ul {
  margin: 8px 0 0;
}

/**
 * Table
 * -------------------------------------------------------------------------- */

.plume-content table {
  display: block;
  margin: 20px 0;
  overflow-x: auto;
  border-collapse: collapse;
}

.plume-content tr {
  background-color: var(--vp-c-bg);
  border-top: 1px solid var(--vp-c-divider);
  transition: var(--t-color);
  transition-property: background-color, border-top;
}

.plume-content tr:nth-child(2n) {
  background-color: var(--vp-c-bg-soft);
}

.plume-content th,
.plume-content td {
  padding: 8px 16px;
  border: 1px solid var(--vp-c-divider);
  transition: border var(--t-color);
}

.plume-content th {
  font-size: 14px;
  font-weight: 600;
  color: var(--vp-c-text-2);
  text-align: left;
  background-color: var(--vp-c-bg-soft);
  transition: var(--t-color);
  transition-property: color, background-color, border;
}

.plume-content td {
  font-size: 14px;
}

/**
 * Decorational elements
 * -------------------------------------------------------------------------- */

.plume-content hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid var(--vp-c-divider);
  transition: border-top var(--t-color);
}

/**
 * Code
 * -------------------------------------------------------------------------- */

/* inline code */
.plume-content :not(pre, h1, h2, h3, h4, h5, h6) > code {
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-color);
  transition: color var(--t-color);
}

.plume-content :not(pre) > code {
  padding: 3px 6px;
  background-color: var(--vp-code-bg);
  border-radius: 4px;
  transition:
    color var(--t-color),
    background-color var(--t-color);
}

.plume-content h1 > code,
.plume-content h2 > code,
.plume-content h3 > code {
  font-size: 0.9em;
}

.plume-content a > code {
  color: var(--vp-code-link-color);
  transition: color var(--t-color);
}

.plume-content a:hover > code {
  color: var(--vp-code-link-hover-color);
}
