/**
 * Headings
 * -------------------------------------------------------------------------- */

.plume-content h1,
.plume-content h2,
.plume-content h3,
.plume-content h4,
.plume-content h5,
.plume-content h6 {
  position: relative;
  font-weight: 600;
  outline: none;
}

.plume-content h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
}

.plume-content h2 {
  margin: 48px 0 16px;
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.plume-content h2:first-of-type {
  border-top: none;
}

.plume-content h3 {
  margin: 32px 0 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}

.plume-content .header-anchor {
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-weight: 500;
  user-select: none;
  opacity: 0;
  transition:
    color 0.25s,
    opacity 0.25s;
}

.plume-content h1:hover .header-anchor,
.plume-content h1 .header-anchor:focus,
.plume-content h2:hover .header-anchor,
.plume-content h2 .header-anchor:focus,
.plume-content h3:hover .header-anchor,
.plume-content h3 .header-anchor:focus,
.plume-content h4:hover .header-anchor,
.plume-content h4 .header-anchor:focus,
.plume-content h5:hover .header-anchor,
.plume-content h5 .header-anchor:focus,
.plume-content h6:hover .header-anchor,
.plume-content h6 .header-anchor:focus {
  opacity: 1;
}

@media (min-width: 768px) {
  .plume-content h1 {
    letter-spacing: -0.02em;
    line-height: 40px;
    font-size: 32px;
  }
}

.plume-content img {
  display: inline-block;
}

.plume-content img + img {
  margin-left: 0.5rem;
}

.plume-content a img + span {
  margin-left: 0.2rem;
}

/**
 * Paragraph and inline elements
 * -------------------------------------------------------------------------- */

.plume-content p,
.plume-content summary {
  margin: 16px 0;
}

.plume-content p {
  line-height: 28px;
}

.plume-content blockquote {
  margin: 16px 0;
  border-left: 2px solid var(--vp-c-divider);
  padding-left: 16px;
  transition: border-color 0.5s;
}

.plume-content blockquote > p {
  margin: 0;
  font-size: 16px;
  color: var(--vp-c-text-2);
  transition: color 0.5s;
}

.plume-content a {
  font-weight: 500;
  color: var(--vp-c-brand-1);
  text-decoration: underline;
  text-underline-offset: 2px;
  transition:
    color 0.25s,
    opacity 0.25s,
    text-underline-offset 0.25s;
}

.plume-content a:hover {
  color: var(--vp-c-brand-2);
  text-underline-offset: 4px;
}

.plume-content strong {
  font-weight: 600;
}

/**
 * Lists
 * -------------------------------------------------------------------------- */

.plume-content ul,
.plume-content ol {
  padding-left: 1.25rem;
  margin: 16px 0;
}

.plume-content ul {
  list-style: disc;
}

.plume-content ol {
  list-style: decimal;
}

.plume-content li + li {
  margin-top: 8px;
}

.plume-content li > ol,
.plume-content li > ul {
  margin: 8px 0 0;
}

/**
 * Table
 * -------------------------------------------------------------------------- */

.plume-content table {
  display: block;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
}

.plume-content tr {
  background-color: var(--vp-c-bg);
  border-top: 1px solid var(--vp-c-divider);
  transition: background-color 0.5s;
}

.plume-content tr:nth-child(2n) {
  background-color: var(--vp-c-bg-soft);
}

.plume-content th,
.plume-content td {
  border: 1px solid var(--vp-c-divider);
  padding: 8px 16px;
}

.plume-content th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: var(--vp-c-text-2);
  background-color: var(--vp-c-bg-soft);
}

.plume-content td {
  font-size: 14px;
}

/**
 * Decorational elements
 * -------------------------------------------------------------------------- */

.plume-content hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid var(--vp-c-divider);
}

/**
 * Custom Block
 * -------------------------------------------------------------------------- */

.plume-content .custom-block {
  margin: 16px 0;
}

.plume-content .custom-block p {
  margin: 8px 0;
  line-height: 24px;
}

.plume-content .custom-block p:first-child {
  margin: 0;
}

.plume-content .custom-block a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
  transition: opacity 0.25s;
}

.plume-content .custom-block a:hover {
  opacity: 0.6;
}

.plume-content .custom-block code {
  font-size: var(--vp-custom-block-code-font-size);
  font-weight: 700;
  color: inherit;
}

.plume-content .custom-block div[class*='language-'] {
  margin: 8px 0;
}

.plume-content .custom-block div[class*='language-'] code {
  font-weight: 400;
  background-color: transparent;
}

/**
 * Code
 * -------------------------------------------------------------------------- */

/* inline code */
.plume-content :not(pre, h1, h2, h3, h4, h5, h6) > code {
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-color);
}

.plume-content :not(pre) > code {
  border-radius: 4px;
  padding: 3px 6px;
  background-color: var(--vp-code-bg);
  transition:
    color 0.25s,
    background-color 0.5s;
}

.plume-content h1 > code,
.plume-content h2 > code,
.plume-content h3 > code {
  font-size: 0.9em;
}

.plume-content a > code {
  color: var(--vp-code-link-color);
}

.plume-content a:hover > code {
  color: var(--vp-code-link-hover-color);
}

.plume-content .vp-code-tabs-nav {
  margin: 0.85rem 0 0;
}
