.plume-content {
  .hint-container {
    border-radius: 8px;
    padding: 16px 16px 8px;
    line-height: 24px;
    font-size: var(--vp-custom-block-font-size);
    color: var(--vp-c-text-2);

    .hint-container-title {
      font-weight: 600;
      margin-top: 0;
    }

    &.note {
      border-radius: 0;
      color: var(--vp-c-text-3);
    }

    &.info {
      color: var(--vp-custom-block-info-text);
    }

    &.tip {
      color: var(--vp-custom-block-tip-text);
    }

    &.warning {
      color: var(--vp-custom-block-warning-text);
    }

    &.caution {
      color: var(--vp-custom-block-danger-text);
    }

    &.detail {
      color: var(--vp-custom-block-detail-text);

      summary {
        margin: -1.5rem -1.5rem -1.1rem;
        font-weight: 700;
        cursor: pointer;
        color: var(--vp-c-text-1);
      }

      summary + p {
        margin: 8px 0;
      }

    }

    p + p {
      margin: 8px 0;
    }

    code {
      font-size: var(--vp-custom-block-code-font-size);
    }

    &.note,
    &.tip,
    &.detail,
    &.important {
      a,
      code {
        color: var(--vp-c-brand-1);
      }
      a:hover {
        color: var(--vp-c-brand-2);
      }
    }
    &.warning {
      a,
      code {
        color: var(--vp-c-warning-1);
      }
      a:hover {
        color: var(--vp-c-warning-2);
      }
    }
    &.caution {
      a,
      code {
        color: var(--vp-c-danger-1);
      }
      a:hover {
        color: var(--vp-c-danger-2);
      }
    }

    &.note code,
    &.info code,
    &.tip code,
    &.warning code,
    &.caution code,
    &.details, code {
      background-color: transparent;
    }

    th,
    blockquote > p {
      font-size: var(--vp-custom-block-font-size);
      color: inherit;
    }
  }

  .vp-code-demo {
    border: solid 1px var(--vp-c-divider);
    overflow: hidden;

    &:hover {
      box-shadow: none;
    }

    .vp-code-demo-header {
      padding: 8px 12px;
    }

    .vp-code-demo-code-wrapper {
      margin-bottom: -0.9rem;
    }

    .vp-code-demo-toggle-button {
      margin: 0 12px 0 8px;
      background-color: var(--vp-c-gray-2);

      &:hover {
        background-color: var(--vp-c-gray-1);
      }
    }

    .vp-code-demo-title {
      font-size: 1rem;
      line-height: 1.75;
    }

    .vp-code-demo-display {
      border-bottom: transparent;
    }

    .code-demo-jsfiddle .jsfiddle-button,
    .code-demo-codepen .codepen-button {
      background-color: transparent;
    }

    .vp-code-demo-codes div[class*='language-'] {
      border-bottom: 2px dashed var(--vp-c-divider);

      &:first-of-type {
        border-top: 1px solid var(--vp-c-divider);
      }
      &:last-of-type {
        border-bottom: none;
      }
    }

    .vp-code-demo-codes div[class*='language-'] pre {
      margin-bottom: 0;
      border-radius: 0;
    }

    @media (max-width: 419px) {
      .vp-code-demo-codes div[class*='language-'] {
        margin: 0;
        border-radius: 0;
      }
    }
  }

  @media (max-width: 419px) {
    .vp-code-demo {
      margin: 8px -12px;
    }
  }

  .task-list-container {
    padding-left: 0;
    .task-list-item {
      input {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
      }
      label {
        margin-left: 1.2em;
      }
      input::before,
      input::after {
        content: none;
        position: absolute;
        top: -1em;
        left: 0;
        font-size: 1em;
        display: inline-block;
      }

      input::after {
        content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 32 32"%3E%3Cpath fill="%23c2c2c4" d="M26 27.5H6A1.5 1.5 0 0 1 4.5 26V6c0-.83.67-1.5 1.5-1.5h20c.828 0 1.5.67 1.5 1.5v20a1.5 1.5 0 0 1-1.5 1.5m-18.5-3h17v-17h-17z"%2F%3E%3C%2Fsvg%3E');
        border: none;
        background-color: transparent;
      }

      input:checked[disabled]::after {
        content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 32 32"%3E%3Cpath fill="%23299764" d="M29.548 3.043a2.5 2.5 0 0 0-3.513.4L16 16.067l-3.508-4.414a2.5 2.5 0 0 0-3.915 3.112l5.465 6.875c.474.597 1.195.943 1.957.943s1.482-.35 1.957-.944L29.95 6.555c.86-1.08.68-2.654-.402-3.513zM24.5 24.5h-17v-17h12.756l2.385-3H6c-.83 0-1.5.67-1.5 1.5v20c0 .828.67 1.5 1.5 1.5h20a1.5 1.5 0 0 0 1.5-1.5V12.85l-3 3.774z"%2F%3E%3C%2Fsvg%3E');
        border: none;
        background-color: transparent;

      }
    }
  }
}
