/* stylelint-disable no-descending-specificity */

/* ----------------------  Markdown: Task List ---------------------- */
.vp-doc .task-list-container {
  padding-left: 0;
  list-style: none;
}

.vp-doc .task-list-container .task-list-item {
  position: relative;
}

.vp-doc .task-list-container .task-list-item input {
  position: absolute;
  top: 0.1em;
  left: -0.15em;
  z-index: 1;
  opacity: 0;
}

.vp-doc .task-list-container .task-list-item label {
  margin-left: 1.2em;
}

.vp-doc .task-list-container .task-list-item label::before {
  position: absolute;
  top: -0.1em;
  left: -0.15em;
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  content: "";
  background-image: var(--icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transform: translateY(4px);
}


.vp-doc .task-list-container .task-list-item label::before {
  --icon: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 32 32"%3E%3Cpath fill="%23c2c2c4" d="M26 27.5H6A1.5 1.5 0 0 1 4.5 26V6c0-.83.67-1.5 1.5-1.5h20c.828 0 1.5.67 1.5 1.5v20a1.5 1.5 0 0 1-1.5 1.5m-18.5-3h17v-17h-17z"%2F%3E%3C%2Fsvg%3E');
}

.vp-doc .task-list-container .task-list-item input:checked[disabled] + label::before {
  --icon: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 32 32"%3E%3Cpath fill="%23299764" d="M29.548 3.043a2.5 2.5 0 0 0-3.513.4L16 16.067l-3.508-4.414a2.5 2.5 0 0 0-3.915 3.112l5.465 6.875c.474.597 1.195.943 1.957.943s1.482-.35 1.957-.944L29.95 6.555c.86-1.08.68-2.654-.402-3.513zM24.5 24.5h-17v-17h12.756l2.385-3H6c-.83 0-1.5.67-1.5 1.5v20c0 .828.67 1.5 1.5 1.5h20a1.5 1.5 0 0 0 1.5-1.5V12.85l-3 3.774z"%2F%3E%3C%2Fsvg%3E');
}

/* --------------------- Markdown: Footnote -------------------------------- */
.vp-doc .footnotes-sep {
  /* display: none; */
  margin-top: 32px;
}

.vp-doc .footnotes {
  position: relative;
  padding: 12px 0 12px 16px;
  margin-top: 16px;
  font-size: 14px;

  background-color: var(--vp-c-bg-safe);
  border-radius: 6px;
  opacity: 0.7;
  transition: background var(--vp-t-color);
}

@media (max-width: 419px) {
  .vp-doc .footnotes {
    margin: 16px -24px;
    border-radius: 0;
  }
}

.vp-doc .footnotes p {
  line-height: 24px;
}

.vp-doc .footnotes ol {
  margin: 0;
}

.vp-doc .footnotes ol p {
  margin: 8px 0;
}

.vp-doc .footnotes ol li:first-of-type p:first-of-type {
  margin-top: 0;
}

.vp-doc .footnotes ol li:last-of-type p:last-of-type {
  margin-bottom: 0;
}

.vp-doc .footnote-item {
  padding-top: 0;
  margin-top: 0;
}

.vp-doc .footnote-item > p {
  margin-bottom: 0;
}

.vp-doc .footnote-backref {
  position: relative;
  color: transparent;
  text-decoration: none;
}

.vp-doc .footnote-backref:hover {
  color: transparent;
}

.vp-doc .footnote-backref::before {
  position: absolute;
  top: -0.4em;
  left: 0;
  font-size: 1em;
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 48 48"%3E%3Cg fill="none" stroke="%23c2c2c4" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"%3E%3Cpath d="m13 8l-7 6l7 7"%2F%3E%3Cpath d="M6 14h22.994c6.883 0 12.728 5.62 12.996 12.5c.284 7.27-5.723 13.5-12.996 13.5H11.998"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.vp-doc .footnote-anchor {
  top: 0;
}

/* --------------  Markdown: Image Figure --------------------- */
.vp-doc figure {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 1rem auto;
  text-align: center;
}

.vp-doc figure img {
  margin: 0 auto;
  overflow: hidden;
}

@media print {
  .vp-doc figure > a[href^="http://"]::after, .vp-doc figure > a[href^="https://"]::after {
    content: "";
  }
}

.vp-doc figure > a .external-icon {
  display: none;
}

.vp-doc figure figcaption {
  display: inline-block;
  margin: 6px auto;
  font-size: 0.8rem;
}

/* --------------------- Markdown Chart: Mermaid ------------------------  */
.mermaid-actions {
  padding-right: 20px;
}

.mermaid-actions .preview-button,
.mermaid-actions .download-button {
  color: var(--vp-c-text-2);
  transition: color var(--vp-t-color), background-color var(--vp-t-color);
}

.mermaid-actions .preview-button:hover,
.mermaid-actions .download-button:hover {
  color: var(--vp-c-brand-1);
}

.mermaid-wrapper svg {
  display: inline-block;
}

.mermaid-wrapper p {
  line-height: inherit;
}

.mermaid-preview {
  background-color: rgb(0 0 0 / 0.45);
}

.mermaid-preview > svg {
  background-color: var(--vp-c-bg);
}

@media (min-width: 960px) {
  .mermaid-preview > svg {
    padding: 16px 24px;
    margin: 0 16px;
    border-radius: 8px;
    box-shadow: var(--vp-shadow-2);
  }
}

/* --------------------- Markdown Chart: Flowchart ------------------------  */

.flowchart-wrapper svg {
  display: inline-block;
}
