/* stylelint-disable no-descending-specificity */

/* ------------------ Markdown Enhance: Hint Container  ------------------ */
.vp-doc .hint-container {
  padding: 16px 16px 8px;
  font-size: var(--vp-custom-block-font-size);
  line-height: 24px;
  color: var(--vp-c-text-2);
  border-radius: 8px;
}

.vp-doc .hint-container .hint-container-title {
  margin-top: 0;
  font-weight: 600;
}

.vp-doc .hint-container p + p {
  margin: 8px 0;
}

.vp-doc .hint-container code {
  font-size: var(--vp-custom-block-code-font-size);
  color: inherit;
}

.vp-doc .hint-container th,
.vp-doc .hint-container blockquote > p {
  font-size: var(--vp-custom-block-font-size);
  color: inherit;
}

.vp-doc .hint-container div[class*="language-"] {
  margin: 8px 0;
}

.vp-doc .hint-container .vp-code-tab div[class*="language-"] {
  margin: 0 0 8px;
}

.vp-doc .hint-container div[class*="language-"] code {
  font-weight: 400;
  background-color: transparent;
}

.vp-doc .hint-container div[class*="language-"].line-numbers-mode .line-numbers {
  line-height: 1.5rem;
}

@media (max-width: 419px) {
  .vp-doc .hint-container div[class*="language-"] {
    margin: 0.85rem -0.75rem 0.85rem -1rem;
  }

  .vp-doc .hint-container .vp-code-tab div[class*="language-"] {
    margin: 0 -0.75rem 0.85rem -1rem;
  }
}

.vp-doc .hint-container.note {
  color: var(--vp-c-text-3);
  border-radius: 0;
}

.vp-doc .hint-container.info {
  color: var(--vp-custom-block-info-text);
}

.vp-doc .hint-container.tip {
  color: var(--vp-custom-block-tip-text);
}

.vp-doc .hint-container.warning {
  color: var(--vp-custom-block-warning-text);
}

.vp-doc .hint-container.caution {
  color: var(--vp-custom-block-danger-text);
}

.vp-doc .hint-container.detail {
  color: var(--vp-custom-block-detail-text);
}

.vp-doc .hint-container.detail summary {
  margin: -1.5rem -1.5rem -1.1rem;
  font-weight: 700;
  color: var(--vp-c-text-1);
  cursor: pointer;
}

.vp-doc .hint-container.detail summary + p {
  margin: 8px 0;
}

.vp-doc .hint-container.note a,
.vp-doc .hint-container.note code,
.vp-doc .hint-container.info a,
.vp-doc .hint-container.info code,
.vp-doc .hint-container.tip a,
.vp-doc .hint-container.tip code,
.vp-doc .hint-container.detail a,
.vp-doc .hint-container.detail code {
  color: var(--vp-c-brand-1);
}

.vp-doc .hint-container.note a:hover,
.vp-doc .hint-container.info a:hover,
.vp-doc .hint-container.tip a:hover,
.vp-doc .hint-container.detail a:hover {
  color: var(--vp-c-brand-2);
}

.vp-doc .hint-container.important a,
.vp-doc .hint-container.important code {
  color: var(--vp-c-purple-1);
}

.vp-doc .hint-container.important a:hover {
  color: var(--vp-c-purple-2);
}

.vp-doc .hint-container.warning a,
.vp-doc .hint-container.warning code {
  color: var(--vp-c-warning-1);
}

.vp-doc .hint-container.warning a:hover {
  color: var(--vp-c-warning-2);
}

.vp-doc .hint-container.caution a,
.vp-doc .hint-container.caution code {
  color: var(--vp-c-danger-1);
}

.vp-doc .hint-container.caution a:hover {
  color: var(--vp-c-danger-2);
}

.vp-doc .hint-container [class*="language-"] .line-numbers {
  padding-top: 21px;
}

/* ------------------ Markdown Enhance: Code Tabs ----------------------- */
.vp-doc .code-tabs-nav {
  margin-bottom: 0;
}

.vp-doc .vp-code-tabs-nav {
  padding: 0 12px;
  margin: 0.85rem 0 0;
  overflow-y: hidden;
  background-color: var(--vp-code-tab-bg);
  box-shadow: inset 0 -1px var(--vp-code-tab-divider);
  transition: background-color var(--t-color), box-shadow var(--t-color);
}

.vp-doc .vp-code-tab-nav {
  position: relative;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  color: var(--vp-code-tab-text-color);
  white-space: nowrap;
  border-bottom: 1px solid transparent;
  transition: color var(--t-color);
}

.vp-doc .vp-code-tab-nav::before {
  display: none;
}

.vp-doc .vp-code-tab-nav::after {
  position: absolute;
  right: 8px;
  bottom: -1px;
  left: 8px;
  z-index: 1;
  display: block;
  width: auto;
  height: 2px;
  content: "";
  background: transparent;
  border-radius: 2px;
  transition: background var(--t-color);
}

.vp-doc .vp-code-tab-nav.active {
  color: var(--vp-code-tab-active-text-color);
  background: transparent;
}

.vp-doc .vp-code-tab-nav.active::after {
  background: var(--vp-code-tab-active-bar-color);
}

.vp-doc .vp-code-tab-nav:hover {
  background: transparent;
}

@media (max-width: 419px) {
  .vp-doc .vp-code-tabs-nav {
    margin: 0 -1.5rem -0.85rem;
  }

  .vp-doc .hint-container .vp-code-tabs-nav {
    margin: 0.85rem -0.75rem 0 -1rem;
  }
}

/* --------------------  Markdown Enhance: Code Demo  -------------------- */
.vp-doc .vp-code-demo {
  overflow: hidden;
  border: solid 1px var(--vp-c-divider);
  transition: border var(--t-color);
}

@media (max-width: 419px) {
  .vp-doc .vp-code-demo .vp-code-demo-codes div[class*="language-"] {
    margin: 0;
    border-radius: 0;
  }
}

.vp-doc .vp-code-demo:hover {
  box-shadow: none;
}

.vp-doc .vp-code-demo .vp-code-demo-header {
  padding: 8px 12px;
  transition: background-color var(--t-color);
}

.vp-doc .vp-code-demo .vp-code-demo-code-wrapper {
  margin-bottom: -0.9rem;
}

.vp-doc .vp-code-demo .vp-code-demo-toggle-button {
  margin: 0 12px 0 8px;
  background-color: var(--vp-c-gray-2);
  transition: background-color var(--t-color);
}

.vp-doc .vp-code-demo .vp-code-demo-toggle-button:hover {
  background-color: var(--vp-c-gray-1);
}

.vp-doc .vp-code-demo .vp-code-demo-title {
  font-size: 1rem;
  line-height: 1.75;
}

.vp-doc .vp-code-demo .vp-code-demo-display {
  border-bottom: transparent;
}

.vp-doc .vp-code-demo .code-demo-jsfiddle .jsfiddle-button,
.vp-doc .vp-code-demo .code-demo-codepen .codepen-button {
  background-color: transparent;
}

.vp-doc .vp-code-demo .vp-code-demo-codes div[class*="language-"] {
  border-bottom: 2px dashed var(--vp-c-divider);
  transition: border-bottom var(--t-color);
}

.vp-doc .vp-code-demo .vp-code-demo-codes div[class*="language-"]:first-of-type {
  border-top: 1px solid var(--vp-c-divider);
}

.vp-doc .vp-code-demo .vp-code-demo-codes div[class*="language-"]:last-of-type {
  border-bottom: none;
}

.vp-doc .vp-code-demo .vp-code-demo-codes div[class*="language-"] pre {
  margin-bottom: 0;
  border-radius: 0;
}

@media (max-width: 419px) {
  .vp-doc .vp-code-demo {
    margin: 8px -12px;
  }
}

/* --------------------  Markdown Enhance: markdown Demo  -------------------- */
.vp-doc .vp-md-demo {
  margin-bottom: 16px;
  overflow: hidden;
  border: solid 1px var(--vp-c-divider);
  transition: border var(--t-color);
}

@media (max-width: 419px) {
  .vp-doc .vp-md-demo .vp-md-demo-codes div[class*="language-"] {
    margin: 0;
    border-radius: 0;
  }
}

.vp-doc .vp-md-demo:hover {
  box-shadow: none;
}

.vp-doc .vp-md-demo .vp-md-demo-header {
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.7;
  transition: background-color var(--t-color);
}

.vp-doc .vp-md-demo .vp-md-demo-toggle-button {
  margin: 0 12px 0 8px;
  background-color: var(--vp-c-gray-2);
  transition: background-color var(--t-color);
}

.vp-doc .vp-md-demo .vp-md-demo-toggle-button:hover {
  background-color: var(--vp-c-gray-1);
}

.vp-doc .vp-md-demo .vp-md-demo-title {
  font-size: 1rem;
  line-height: 1.75;
}

.vp-doc .vp-md-demo .vp-md-demo-display {
  border-bottom: transparent;
}

.vp-doc .vp-md-demo .vp-md-demo-codes div[class*="language-"] {
  border-bottom: 2px dashed var(--vp-c-divider);
  transition: border-bottom var(--t-color);
}

.vp-doc .vp-md-demo .vp-md-demo-codes div[class*="language-"]:first-of-type {
  border-top: 1px solid var(--vp-c-divider);
}

.vp-doc .vp-md-demo .vp-md-demo-codes div[class*="language-"]:last-of-type {
  border-bottom: none;
}

.vp-doc .vp-md-demo .vp-md-demo-codes div[class*="language-"] pre {
  margin-bottom: 0;
  border-radius: 0;
}

@media (max-width: 419px) {
  .vp-doc .vp-md-demo {
    margin: 8px -12px;
  }
}

/* ----------------------  Markdown Enhance: Task List ---------------------- */
.vp-doc .task-list-container {
  padding-left: 0;
}

.vp-doc .task-list-container .task-list-item input {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.vp-doc .task-list-container .task-list-item label {
  margin-left: 1.2em;
}

.vp-doc .task-list-container .task-list-item input::before,
.vp-doc .task-list-container .task-list-item input::after {
  position: absolute;
  top: -1em;
  left: 0;
  display: inline-block;
  font-size: 1em;
  content: none;
}

.vp-doc .task-list-container .task-list-item input::after {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 32 32"%3E%3Cpath fill="%23c2c2c4" d="M26 27.5H6A1.5 1.5 0 0 1 4.5 26V6c0-.83.67-1.5 1.5-1.5h20c.828 0 1.5.67 1.5 1.5v20a1.5 1.5 0 0 1-1.5 1.5m-18.5-3h17v-17h-17z"%2F%3E%3C%2Fsvg%3E');
  background-color: transparent;
  border: none;
}

.vp-doc .task-list-container .task-list-item input:checked[disabled]::after {
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 32 32"%3E%3Cpath fill="%23299764" d="M29.548 3.043a2.5 2.5 0 0 0-3.513.4L16 16.067l-3.508-4.414a2.5 2.5 0 0 0-3.915 3.112l5.465 6.875c.474.597 1.195.943 1.957.943s1.482-.35 1.957-.944L29.95 6.555c.86-1.08.68-2.654-.402-3.513zM24.5 24.5h-17v-17h12.756l2.385-3H6c-.83 0-1.5.67-1.5 1.5v20c0 .828.67 1.5 1.5 1.5h20a1.5 1.5 0 0 0 1.5-1.5V12.85l-3 3.774z"%2F%3E%3C%2Fsvg%3E');
  background-color: transparent;
  border: none;
}

/* ----------------------------  Markdown Enhance: Tabs ----------------------------- */
.vp-doc .vp-tabs {
  margin: 1.5rem -0.75rem;
  overflow: hidden;
  border: 1px solid var(--vp-c-divider);
  transition: border var(--t-color);
}

.vp-doc .vp-tabs-nav {
  padding: 0 12px;
  background-color: var(--vp-code-tab-bg);
  box-shadow: inset 0 -1px var(--vp-code-tab-divider);
  transition: background-color var(--t-color), box-shadow var(--t-color);
}

.vp-doc .vp-tab-nav {
  position: relative;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  color: var(--vp-code-tab-text-color);
  white-space: nowrap;
  border-bottom: 1px solid transparent;
  transition: color var(--t-color);
}

.vp-doc .vp-tab-nav::before {
  display: none;
}

.vp-doc .vp-tab-nav::after {
  position: absolute;
  right: 8px;
  bottom: -1px;
  left: 8px;
  z-index: 1;
  display: block;
  width: auto;
  height: 2px;
  content: "";
  background: transparent;
  border-radius: 2px;
  transition: background var(--t-color);
}

.vp-doc .vp-tab-nav.active {
  color: var(--vp-code-tab-active-text-color);
  background: transparent;
}

.vp-doc .vp-tab-nav.active::after {
  background: var(--vp-code-tab-active-bar-color);
}

.vp-doc .vp-tab-nav:hover {
  background: transparent;
}

@media (min-width: 419px) {
  .vp-doc .vp-tabs {
    margin: 1.5rem 0;
  }
}

.vp-doc .hint-container .vp-tabs {
  margin: 1rem -0.45rem 1rem -0.75rem;
}

.vp-doc .hint-container .vp-tabs .vp-tabs-nav {
  background: var(--vp-c-default-soft);
}

.vp-doc .hint-container .vp-tabs .vp-tab {
  padding: 0.45rem 0.75rem;
  font-size: 14px;
  background: transparent;
}

.vp-doc .hint-container .vp-tabs .vp-tab p {
  margin: 8px 0;
}

/* --------------------- Markdown Enhance: Footnote -------------------------------- */
.vp-doc .footnotes-sep {
  margin-top: 48px;
}

.vp-doc .footnotes {
  position: relative;
  padding: 48px 0 12px 16px;
  margin-left: -16px;
  font-size: 14px;
  border-left: 4px solid var(--vp-c-default-soft);
}

@media (max-width: 419px) {
  .vp-doc .footnotes {
    margin-left: 0;
  }
}

.vp-doc .footnotes::before {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 16px;
  font-weight: 700;
}

[lang="zh-CN"] .vp-doc .footnotes::before {
  content: "脚注:";
}

[lang="en-US"] .vp-doc .footnotes::before {
  content: "Footnotes:";
}

.vp-doc .footnotes ol {
  margin: 0;
}

.vp-doc .footnotes ol p {
  margin: 8px 0;
}

.vp-doc .footnotes ol li:first-of-type p:first-of-type {
  margin-top: 0;
}

.vp-doc .footnotes ol li:last-of-type p:last-of-type {
  margin-bottom: 0;
}

.vp-doc .footnote-item {
  padding-top: 0;
  margin-top: 0;
}

.vp-doc .footnote-item > p {
  margin-bottom: 0;
}

.vp-doc .footnote-backref {
  position: relative;
  color: transparent;
  text-decoration: none;
}

.vp-doc .footnote-backref:hover {
  color: transparent;
}

.vp-doc .footnote-backref::before {
  position: absolute;
  top: -0.4em;
  left: 0;
  font-size: 1em;
  content: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 48 48"%3E%3Cg fill="none" stroke="%23c2c2c4" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"%3E%3Cpath d="m13 8l-7 6l7 7"%2F%3E%3Cpath d="M6 14h22.994c6.883 0 12.728 5.62 12.996 12.5c.284 7.27-5.723 13.5-12.996 13.5H11.998"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.vp-doc .footnote-anchor {
  top: 0;
}

/* --------------  Markdown Enhance: Image Figure --------------------- */
.vp-doc figure {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 1rem auto;
  text-align: center;
}

.vp-doc figure img {
  margin: 0 auto;
  overflow: hidden;
}

@media print {
  .vp-doc figure > a[href^="http://"]::after, .vp-doc figure > a[href^="https://"]::after {
    content: "";
  }
}

.vp-doc figure > a .external-icon {
  display: none;
}

.vp-doc figure figcaption {
  display: inline-block;
  margin: 6px auto;
  font-size: 0.8rem;
}

/* --------------------- demo-wrapper ------------------------  */
.vp-doc .demo-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 40px;
  margin: 40px -16px;
  border: solid 1px var(--vp-c-divider);
  border-radius: 8px;
  box-shadow: var(--vp-shadow-2);
  transition: var(--t-color);
  transition-property: border, box-shadow;
}

.vp-doc .demo-wrapper.has-title .demo-head {
  border-bottom-color: transparent;
}

.vp-doc .demo-wrapper.only-img {
  overflow: hidden;
}

.vp-doc .demo-wrapper.only-img img {
  display: block;
}

.vp-doc .demo-wrapper.only-img .demo-container,
.vp-doc .demo-wrapper.no-padding .demo-container {
  padding: 0;
}

.vp-doc .demo-wrapper.has-height .demo-container {
  height: var(--demo-container-height);
  overflow-y: auto;
}

.vp-doc .demo-wrapper .demo-head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  border-bottom: solid 1px var(--vp-c-divider);
  transition: border-bottom var(--t-color);
}

.vp-doc .demo-wrapper .demo-ctrl {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0 5px 8px;
}

.vp-doc .demo-wrapper .demo-ctrl i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 100%;
  transition: background-color var(--t-color);
}

.vp-doc .demo-wrapper .demo-ctrl i:nth-child(1) {
  background-color: var(--vp-c-danger-3);
}

.vp-doc .demo-wrapper .demo-ctrl i:nth-child(2) {
  background-color: var(--vp-c-warning-3);
}

.vp-doc .demo-wrapper .demo-ctrl i:nth-child(3) {
  background-color: var(--vp-c-green-3);
}

.vp-doc .demo-wrapper .demo-title {
  position: relative;
  min-width: 0;
  padding: 0 16px;
  margin: 0 20px -1px;
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-c-text-2);
  background-color: var(--vp-c-bg-alt);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  transition: var(--t-color);
  transition-property: color, background-color;
}

.vp-doc .demo-wrapper .demo-title p {
  max-width: 100%;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.vp-doc .demo-wrapper .demo-title::after,
.vp-doc .demo-wrapper .demo-title::before {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 8px;
  height: 8px;
  content: " ";
  transition: background var(--t-color);
}

.vp-doc .demo-wrapper .demo-title::before {
  left: 100%;
  background: radial-gradient(16px at right top, transparent 50%, var(--vp-c-bg-alt) 50%);
}

.vp-doc .demo-wrapper .demo-title::after {
  right: 100%;
  background: radial-gradient(16px at left top, transparent 50%, var(--vp-c-bg-alt) 50%);
}

.vp-doc .demo-wrapper .demo-container {
  min-height: 0;
  padding: 20px;
  font-size: 14px;
  line-height: 22px;
  background-color: var(--vp-c-bg-alt);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: background-color var(--t-color);
}

.vp-doc .demo-wrapper .demo-container > *:first-child {
  margin-top: 0;
}

.vp-doc .demo-wrapper .demo-container > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 419px) {
  .vp-doc .demo-wrapper {
    margin: 40px 0;
  }
}

/* --------------------- Markdown Enhance: Mermaid ------------------------  */
.mermaid-actions {
  padding-right: 20px;
}

.mermaid-actions .preview-button,
.mermaid-actions .download-button {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--vp-c-text-2);
  transition: color var(--t-color);
}

.mermaid-actions .preview-button:hover,
.mermaid-actions .download-button:hover {
  color: var(--vp-c-brand-1);
}

.mermaid-wrapper svg {
  display: inline-block;
}

.flowchart-wrapper svg {
  display: inline-block;
}
