/* stylelint-disable no-descending-specificity */

/* ===== Basic ===== */
:root {
  --twoslash-jsdoc-color: #888;
  --twoslash-popup-shadow: var(--vp-shadow-2);
  --twoslash-error-color: var(--vp-c-danger-1);
  --twoslash-error-bg: var(--vp-c-danger-soft);
  --twoslash-tag-color: var(--vp-c-tip-1);
  --twoslash-tag-bg: var(--vp-c-tip-soft);
  --twoslash-tag-warn-color: var(--vp-c-warning-1);
  --twoslash-tag-warn-bg: var(--vp-c-warning-soft);
  --twoslash-tag-annotate-color: var(--vp-c-green-1);
  --twoslash-tag-annotate-bg: var(--vp-c-green-soft);
  --twoslash-highlighted-bg: var(--vp-c-gray-soft);
  --twoslash-highlighted-border: var(--vp-c-border);
  --twoslash-popup-bg: var(--vp-c-bg, inherit);
  --twoslash-popup-color: var(--vp-c-text-1);
  --twoslash-docs-color: var(--vp-c-text-1);
  --twoslash-docs-font: var(--vp-font-family-base);
  --twoslash-code-font: var(--vp-font-family-mono);
  --twoslash-code-size: var(--vp-code-font-size);
  --twoslash-underline-color: var(--vp-c-text-3);
  --twoslash-border-color: var(--vp-c-border);
  --twoslash-cursor-color: var(--vp-c-brand-1);
  --twoslash-matched-color: var(--vp-c-brand-1);
  --twoslash-unmatched-color: var(--vp-c-text-2);
}
